# Dependencies
node_modules/

# DFX
.dfx/

# Build output
dist/

# Environment variables
.env
.env.local

# macOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Private keys
*.pem
